body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #2e583f; /* A light grey background */
    color: #0f0c0c;
}

h1 {
    color: #3d8bdd;
}

p {
    line-height: 1.6;
}